<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Performance Management System</title>
</head>
<body>
    <form action="/" method="post">
        <input type="text" name="content">
        <input type="submit" value="Submit">
    </form>
</body>
